
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  outline: 0;
  overflow: hidden;
}

body {
  width: 100vw;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: clamp(10px, 2vw, 14px);

  background-color: transparent !important;
  border: none !important;
}

html, body, #root { 
  height: 100%; 
}

.container {
  border-radius: 20px;
  padding: 10px;
  height: 90%;
  margin: 10px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
  margin-left: auto;
  margin-right: auto;
}
