:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #fff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
}

body {
  width: 100vw;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: clamp(10px, 2vw, 14px);
}

html, body, #root { 
  height: 100%; 
}

.container {
  padding: 10px;
  background-color: rgba(51, 46, 48, 1);
  height: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  overflow: auto;
  max-width: min(90vw, 26rem);
  scrollbar-gutter: stable both-edges;
  margin-left: auto;
  margin-right: auto;
}
